@model Kisi
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




<h1>@Model.Ad</h1>
<h1>@Model.Soyad</h1>

<h2>@ViewData["Ad"]</h2>
<h2>@ViewBag.Soyad</h2>