@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact</h1>
<h2>Telefonum:01313211</h2>
<h2>Adresim:ANKARA/CANKAYA</h2>
